<div class="p-10">

    <h1 class="mb-4 text-4xl font-black">
        Sign up
    </h1>

    <%= form_with model: @user, url: registrations_path, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" do |form| %>
        <div class="grid grid-cols-3 gap-3">
            <%= form.label :email %>
            <%= form.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
            <div></div>
            <%= form.label :password %>
            <%= form.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
            <div></div>
            <div></div>
            <%= form.submit "Sign up", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
            <div></div>
        </div>
    <% end %>

</div>
