<!DOCTYPE html>
<html>
  <head>
    <title>L02Mvcblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    
    <% if flash.any? %>
        <% flash.each do |message_type, message| %>
        <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
          <p class="font-bold">Informational message</p>
          <p class="text-sm">Some additional text to explain said message.</p>
        </div>
          <%= content_tag(:div, message, class: "ml-6") %>
        <% end %>
    <% end %>

    <div class="p-10">

      <h1 class="mb-4 text-4xl font-black">
        <%= link_to "Welcome to the Posts App!", root_path %>
        <div class="text-xs">
          Powered by Rails <%= Rails.version %>
        </div>
        <% if logged_in? %>
          <div class="text-xs">
            <%= button_to 'Logout', login_path, method: :delete, form: {data: {turbo_confirm: "Are you sure?"}}, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline" %>        
          </div>
        <% end %>
      </h1>
      
      <%= yield %>
    
    </div>
    
    <%= render 'shared/debug_info' %>
  
  </body>
</html>
